body{
    margin: 0px;
    font-family: 'Varela Round', sans-serif;
    background-image: url("art.png");
    background-attachment: fixed;
}
h1{
    font-size: 50px;
    color: #333333;
}
h2{
    font-size: 38px;
    color: #333333;
}
p{
    color: grey;
}
img{
    width: 100%;
}
section{
    height: 600px;
    max-width: 1200px;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px; /*something wrong, if less than 2 px*/
    margin-bottom: 5px; /*something wrong, if less than 2 px*/
    border-radius: 5px;
}
table{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 2%;
    background-color: mediumslateblue;
    box-shadow: 10px 10px 40px grey;
}
th{
    border-radius: 15px;
    width: 20%;
    background-color:aqua;
    padding: 2%;
    box-shadow: 5px 5px 10px darkblue;
    color: blue;
}
td{
    width: 20%;
    padding: 2%;
    background-color: deepskyblue;
    border-radius: 10px;
    box-shadow: 5px 5px 10px darkblue;
    color:white;
}
.highlight{
    color: dodgerblue;
}
.half-width{
    width: 42%;
    float: left;
    margin: auto;
    padding: 4%;
}
.anchor-button-blue{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(45deg, deepskyblue, dodgerblue);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}
.anchor-button-blue:hover{
    background-image: linear-gradient(180deg, deepskyblue, dodgerblue);
}
.anchor-button-orange{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(45deg, coral, orangered);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}
.anchor-button-orange:hover{
    background-image: linear-gradient(180deg, coral, orangered);
}
.experience{
    box-shadow: 10px 10px 40px grey;
    width: 24%;
    height: 200px;
    float: left;
    margin: 2.16%;
    padding: 2%;
    background-color: white;
}
.experiencearea{
    height: 750px;
}
.sectiondiv{
    color: blue;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
}
#bottomlink{
    text-align: center;
}
#offers{
    height: 900px;
}
#ps{
    border-left: 8px solid;
    border-image: linear-gradient(0deg, #001d26, #00c8fa);
    border-image-slice: 1;
}
#ai{
    border-left: 8px solid;
    border-image: linear-gradient(180deg, #fd7900, #261300);
    border-image-slice: 1;
}
#blender{
    border-left: 8px solid;
    border-image: linear-gradient(180deg, orangered, #265787);
    border-image-slice: 1;
}
#pp{
    border-left: 8px solid;
    border-image: linear-gradient(180deg, #e679ff, #2a0033);
    border-image-slice: 1;
}
#vs{
    border-left: 8px solid;
    border-image: linear-gradient(0deg, #00588a,#23a8f2);
    border-image-slice: 1;
}
#dr{
    border-left: 8px solid;
    border-image: linear-gradient(180deg, #4db50c, #082215);
    border-image-slice: 1;
}